body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
    font-weight: 900;
}
h2{
    font-size:40px;
    font-weight: 900;
}
h3{
    font-size:30px;
    font-weight: 900;
}
h4{
    font-size: 20px;
    font-weight: 700;
}
#margin-p{
    margin-top: 50px;
}
.text-color{
    color:#4bbae6;  
}
.line-block{
    display:block;
}
.anchor-margin{
    margin-top: 30px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(salmon,tomato);
    border-radius: 7px;
    color:white;
    font-weight: 400;
    padding: 15px 40px;
}
#top-banner{
    margin-top: 100px;
    padding-left:10%;
    padding-right:10%;
}
#top-banner-border{
    border-left: 4px solid;
    border-image: linear-gradient(#7474df,#62c8f0);
    border-image-slice: 1;
}
.fexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 40%;
    padding-right: 10%;
}

#top-banner .half-width img{
    width:100%;
}
#my-mission{
    padding-left:9%;
    padding-right:9%;
}
#my-mission h2{
    text-align: center;
}
.mission-container{
    border-radius: 20px;
    margin-right: 1%;
    margin-left: 1%;
    padding-left:25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.mission-container img{
    width:60%;
}
#mission-bg{
    background-color: #94d0e748;
}
#vission-bg{
    background-color: #e67ea148;
}
#goals-bg{
    background-color: #ff780248;
}
#develop-item-rightside{
    width:45%;
    padding-left:10%;
}
#develop-item-rightside img{
    width:90%;
}
#develop-item-leftside{
    width:70%;
    padding-right:8.4%;
    padding-left: 2%;
}
#global-community-left-side{
    width:65%;
    padding-left:10%;
}
#global-community-right-side{
    width:35%;
    padding-left:4%;
    padding-right:10%;
}
#global-community-right-side img{
    width:100%;
}
#build{
    padding-left: 10%;
    padding-right: 10%;
}
#build #heading-alignment{
    text-align:center;
}
#build-item-left{
    width:45%;
    padding: 0%;
    margin-top: 50px;
    margin-left: 10%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;
}
#build-item-right{
    width:60%;
    padding-left:15%;
    padding-top: 6%;
}
#build-item-left img{
    width:100%;
}
footer{
    background-color: black;
    color:White;
    text-align: center;
    padding:1%;
    margin-top: 150px;
}
#fotter-heading-color{
    color:tomato;
}
footer h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
